body{
margin:0;
display:grid;
grid-template-columns: 1fr 1fr 1fr;


}

main{
    display:grid;
}

 
.NavTitel{
    display:flex;
    position:fixed;
    min-width: 206vh;
    background-color: rgba(241, 241, 241, 0.815);
    backdrop-filter: blur(10px);
    list-style-type: none;

}
.LogoWrapper{
max-width:100px;
min-width:50px;
min-height:40px ;

}
.LogoAndLink{
    display:flex;
    list-style-type: none;
    Gap:40px;
    text-decoration: none;
    text-decoration-line: none;
    -moz-text-decoration-line: none;

}
 
a:link { text-decoration: none; }
 
.ForWhom  summary::-webkit-details-marker {
    display: none;
    color:green;
    background-color: blue;
  }
 

 
.SignUp{
    display: flex;
    list-style-type: none;
    Gap:40px;
    margin-left:10em;
 
}
 
 

.CoffeeCup{
    min-width:207.8vh;
    max-width: 100%;
    max-height:40vh;
    margin-top: 10vh;
    

}

 .SearchBox {
     outline: 2rem solid rgb(255, 255, 255);
     background-image:url(./assets/coffee.jfif);
     justify-content: center;
     min-width:205.4vh;
     min-height: 10vh;
     margin-top: 3em;
     display:flex;
     color:black;
     
     

 }

 
 .SearchBox > h1{
     outline: 34px solid white;
     border-top-left-radius: 0.5px;
     border-top-right-radius: 0.5px;
   background-color: white;
   min-width: 30em;
   background-size: 40px;
   justify-content: center;
   display: flex;
   
   
   
   
}

 .SearchBox  p {
     color: #3A8070;
    
 }
 .Welcome{
     margin-top: 6em;
 }

 .SearchBar{
     outline: 3px solid #3A8070;
     margin-top: 5vh;
     margin-left:140vh;
     border-radius: 5px;
     max-width:20vh;
     justify-content: center;
     align-items:center;
     transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);


 }
 .SearchBar:hover{
    outline: 5px solid #3A8070; 
    content: "Y";
    min-width:20vh;
    max-width:20vh; 
    justify-content: center;
    font-size: 30px;
    align-items:center;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

 }
 
 .FirstArticle{
     margin-top:1em;
 }

 .FirstArticle > h3{
     margin-bottom: 5em;
 }

 .FirstArticle, .SecondArticle , .ThirdArticle {
     display: grid;
     gap:1px;
     grid-template-columns: repeat(4,25%);
     /* grid-template-rows:repeat(4, 25%) ; */
     align-content: center;
     justify-content: center;
 
 }

 .FirstArticle h2, .SecondArticle h2 , .ThirdArticle h2{
     grid-column:2/3 ;
     grid-row:1/2 ;
     color: #3A8070;
 
     
 }
 .FirstArticle img , .SecondArticle img ,
  .ThirdArticle img
 { 
    grid-column: 3/4;
     grid-row: 1/2;
     max-width: 300px;
     margin-top: 1.5rem;
     margin-left:5em;
 }
 .FirstArticle h3 , .SecondArticle h3 , .ThirdArticle h3{
     grid-column: 2/3;
     grid-row: 1/2;
 
     color:grey;
     line-height:  1em;
     margin-top: 5em;
 }
 .FirstArticle h4  {
     grid-column: 2/3;
     grid-row:2/3 ;
     margin-top: -5em;
     column-width: auto;
     line-height:normal;
     }

     .SecondArticle h4 
  {
     grid-column: 2/3;
     grid-row:1/2;
     margin-top: 10em;
     column-width: auto;
     line-height:normal;
     }

     .ThirdArticle h4{
        grid-column: 2/3;
        grid-row:1/2 ;
         margin-top:8em;
        column-width: auto;
        line-height:normal;
        }
        
     

  
 .FirstArticle a {
    grid-column:2/3 ;
    grid-row:3/4;
    margin-bottom: 2em;
    color:#30443f;
    
 }
  
 .SecondArticle a{
    grid-column:2/4;
    grid-row:3/4;
    margin-bottom: 1em;
    color:#3A8070;
    
 
 }

 .ThirdArticle a{
    grid-column: 2/4;
    grid-row:3/4;
    margin-bottom: 2em;
    color:#3A8070;
    
 
 }
 
 @media only screen and (max-width: 640px) {
    body{
        margin:0;
        display:grid;
        grid-template-columns: 1fr  ;
        max-width: 32em;
        min-width:20em;
        background-color: #ffffff;
    }
        
        main{
            display:grid;
        }      
        .LogoWrapper{
        max-width:100px;
        min-width:50px;
        min-height:40px ;
        display:block;
        }
        a:link { text-decoration: none; }
        .SignUp , .SearchBox , 
        .LogoAndLink >li >details , 
        .LogoAndLink >li >a
        {
            display: none;
         
        }
    
         
         .SearchBox > h1{
           outline: 34px solid white;
           border-top-left-radius: 0.5px;
           border-top-right-radius: 0.5px;
           background-color: white;
           min-width: 30em;
           background-size: 40px;
           justify-content: center;
           display: flex;
        }
        
         .SearchBox  p {
             color: #3A8070;
            
         }
         .Welcome{
             margin-top: 6em;
         }
        
         .SearchBar{
             outline: 3px solid #3A8070;
             margin-top: 5vh;
             margin-left:140vh;
             border-radius: 5px;
             max-width:20vh;
             justify-content: center;
             align-items:center;
             transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        
        
         }
         .SearchBar:hover{
            outline: 5px solid #3A8070; 
            content: "Y";
            min-width:20vh;
            max-width:20vh; 
            justify-content: center;
            font-size: 30px;
            align-items:center;
            transition: 0.2s;
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        
         }
          img{
             display:none;
         }
         
         .FirstArticle{
             margin-top:4em;
             background-image: url(./assets/beyco\ blockchain.png);
             background-color: #0005; background-blend-mode: darken; 
             background-size: 20em;
             display: flex;
             gap:1px;
           flex-direction: row;
           max-width: 32em;
           min-width: 20em;
           min-height: 16em;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
       
            
            
             
         }
         .FirstArticle h2{
             margin-top: 5em;
            color:rgb(255, 255, 255);
            font-size: 2em;

         }
         .NewsArticles{
             display:flex;
            gap:20px;
            padding: 1px 0 1px 1px;
          scroll-snap-type:x mandatory;
          scroll-padding: 1rem;
          overflow-x: scroll;
          margin-bottom: ;

             
         }
        
   
        
        .SecondArticle  {
           
            margin-top:1em;
            background-image: url(./assets/BeycoKinderen.jpeg);
            background-color: #0005; background-blend-mode: darken; 
            background-size: 20em;
            display: flex;
            gap:1em;
          
          max-width: 12em;
          min-width: 10em;
          min-height: 8em;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      
         
         }
         .ThirdArticle {
           
            margin-top:1em;
            margin-left:2em;
            background-image: url(./assets/koffiepeople.jpeg);
            background-color: #0005; background-blend-mode: darken; 
            background-size: 20em;
            display: flex;
            gap:1em;
          
          max-width: 12em;
          min-width: 10em;
          min-height: 8em;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      
         
         }
        
         .SecondArticle h2 , .ThirdArticle h2{
        margin-top: 4em;
             color:rgb(255, 255, 255);
             font-size: 1em;
             
         
             
         }
              .SecondArticle img ,
          .ThirdArticle img
         { 
            grid-column: 3/4;
             grid-row: 1/2;
             max-width: 300px;
             margin-top: 1.5rem;
             margin-left:5em;
         }
         .FirstArticle h3 , .SecondArticle h3 , .ThirdArticle h3{
             grid-column: 2/3;
             grid-row: 1/2;
             display:none;
         
             color:grey;
             line-height:  1em;
             margin-top: 5em;
         }
         .FirstArticle h4  {
             grid-column: 2/3;
             grid-row:2/3 ;
             margin-top: -5em;
             column-width: auto;
             line-height:normal;
             display:none;
             }
        
             .SecondArticle h4 
          {
             grid-column: 2/3;
             grid-row:1/2;
             margin-top: 10em;
             column-width: auto;
             display:none;
             line-height:normal;
             }
        
             .ThirdArticle h4{
                grid-column: 2/3;
                grid-row:1/2 ;
                 margin-top:8em;
                column-width: auto;
                line-height:normal;
                display:none;
                }
                
             
        
          
         .FirstArticle a {
            margin-top: 14em;
            position: absolute;
            color:#ffffff;
            
            
         }
          
         .SecondArticle a{
            margin-top: 9em;
            position: absolute;
            color:#3A8070;
            
         
         }
        
         .ThirdArticle a{
            margin-top: 9em;
            position: absolute;
            color:#3A8070;
         }
  }
  