@media only screen and (max-width: 640px) {
 body{
   align-items: center;
   block-size: fit-content;
   margin-left:20px;
   margin-right:20px;
 

 }
 

.StylguideTitel{
  display:flex;
  gap:150px;
 }

 .LogoWrapper{
   max-width:20vh;
   max-height:20vh;
 }

 .LogoAndLink{
  display:flex;
  gap: 10vh;
 }

 .Colors{
   display:grid;
   gap:40px;
   grid-template-columns: 1fr ;
   
 }
 ul{
   display:flex;
   gap:130px;


   

 }

 div > p{
   margin-left:-20px;
   gap: 30px;
 
   
 }
 

 .Green{
   background-color:#3A8070;
   margin-left:-35px;
   min-width: 5rem;
   max-width: 5rem;
   min-height: 4rem;
   padding:0.1rem;
   list-style-type: none;
   outline: 1px solid grey;
 }

 .Black{
   background-color:#000000;
   margin-left:-35px;
   min-width: 5rem;
   max-width: 5rem;
   min-height: 4rem;
   padding:0.1rem;
   list-style-type: none;
   outline: 1px solid grey;
 }

 .Grey{
   background-color: #d9d9d9;
   margin-left:-35px;
   min-width: 5rem;
   max-width: 5rem;
   min-height: 4rem;
   padding:0.1rem;
   list-style-type: none;
   outline: 1px solid grey;
 }
 .LightGrey{
   background-color:#F6f7f9 ;
    margin-left:-65px;
   min-width: 5rem;
   max-width: 5rem;
   min-height: 4rem;
   padding:0.1rem;
   list-style-type: none;
   outline: 1px solid grey;
 }
.LightGreen{
  background-color: #EBF2F1;
  margin-left:-35px;
  min-width: 5rem;
  max-width: 5rem;
  min-height: 4rem;
  padding:0.1rem;
  list-style-type: none;
  outline: 1px solid grey;
  
}
.White{
  background-color: #FFFFFF;
  outline: 1px solid grey;
  margin-left:-35px;
  min-width: 5rem;
  max-width: 5rem;
  min-height: 4rem;
  padding:0.1rem;
  list-style-type: none;
}color: 

H1:focus{
  background-color: #3A8070;
  
  
}
 
  }

 